<section class="section-catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="image-test"></div>
        <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Sol</h3>
        <p class="catalog-text">$500</p>
      </li>
      <li class="catalog-item">
        <div class="image-test"></div>
        <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>

        <p class="catalog-text">$450</p>
      </li>
      <li class="catalog-item">
        <div class="image-test"></div>
        <h3 class="catalog-subtitle">Garmin Descent MK1</h3>

        <p class="catalog-text">$680</p>
      </li>
      <li class="catalog-item">
        <div class="image-test"></div>
        <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>

        <p class="catalog-text">$380</p>
      </li>
      <li class="catalog-item">
        <div class="image-test"></div>
        <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>

        <p class="catalog-text">$400</p>
      </li>
      <li class="catalog-item">
        <div class="image-test"></div>
        <h3 class="catalog-subtitle">Tube Watch S42 Date Steel With</h3>

        <p class="catalog-text">$395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
