<section class="section-catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/3catalog/1watchd.webp 1x
                   /img/3catalog/1watchd2x.webp 2x 
                     "
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/3catalog/1watcht.webp 1x
                    /img/3catalog/1watcht2x.webp 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/img/3catalog/1watchm.webp 1x  
                    /img/3catalog/1watchm2x.webp 2x
                    "
            media="(max-width:767px)"
          />
          <img src="/img/3catalog/1watchd.webp" alt="Watch1" width="304" />
        </picture>
        <div class="catalog-wrapper">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/3catalog/2watchd.webp 1x
                    /img/3catalog/2watchd2x.webp 2x 
                     "
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/3catalog/2watcht.webp 1x
                    /img/3catalog/2watcht2x.webp 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/img/3catalog/2watchm.webp 1x  
                    /img/3catalog/2watchm2x.webp 2x
                    "
            media="(max-width:767px)"
          />
          <img src="/img/3catalog/2watchd.webp" alt="Watch2" width="304" />
        </picture>
        <div class="catalog-wrapper">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/3catalog/3watchd.webp 1x
                    /img/3catalog/3watchd2x.webp 2x 
                     "
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/3catalog/3watcht.webp 1x
                    /img/3catalog/3watcht2x.webp 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/img/3catalog/3watchm.webp 1x  
                    /img/3catalog/3watchm2x.webp 2x
                    "
            media="(max-width:767px)"
          />
          <img src="/img/3catalog/3watchd.webp" alt="Watch3" width="304" />
        </picture>
        <div class="catalog-wrapper">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/3catalog/4watchd.webp 1x
                    /img/3catalog/4watchd2x.webp 2x 
                     "
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/3catalog/4watcht.webp 1x
                    /img/3catalog/4watcht2x.webp 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/img/3catalog/4watchm.webp 1x  
                    /img/3catalog/4watchm2x.webp 2x
                    "
            media="(max-width:767px)"
          />
          <img src="/img/3catalog/4watchd.webp" alt="Watch4" width="304" />
        </picture>
        <div class="catalog-wrapper">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/3catalog/5watchd.webp 1x
                    /img/3catalog/5watchd2x.webp 2x 
                     "
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/3catalog/5watcht.webp 1x
                    /img/3catalog/5watcht2x.webp 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/img/3catalog/5watchm.webp 1x  
                    /img/3catalog/5watchm2x.webp 2x
                    "
            media="(max-width:767px)"
          />
          <img src="/img/3catalog/5watchd.webp" alt="Watch5" width="304" />
        </picture>
        <div class="catalog-wrapper">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/3catalog/6watchd.webp 1x
                    /img/3catalog/6watchd2x.webp 2x 
                     "
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/3catalog/6watcht.webp 1x
                    /img/3catalog/6watcht2x.webp 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="/img/3catalog/6watchm.webp 1x  
                    /img/3catalog/6watchm2x.webp 2x
                    "
            media="(max-width:767px)"
          />
          <img src="/img/3catalog/6watchd.webp" alt="Watch6" width="304" />
        </picture>
        <div class="catalog-wrapper">
          <h3 class="catalog-subtitle">Tube Watch S42 Date Steel With</h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
