<section>
    <div class="main-div-contact-us">
        <h2 class="title-contact-us">Contact Us</h2>
        <div class="form-and-img-container">
            <div class="form-div-contact-us">
                <form class="form-contact-us">
                    <p class="form-p-contact-us">Please use the form below to contact us. Enter your name, email, phone,
                        and
                        message and we'll get back to you shortly.</p>
                    <div class="form-group-name">
                        <input type="text" id="user-name" name="user-name" class="form-input" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" id="user-email" name="user-email" class="form-input" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" id="user-phone" name="user-phone" class="form-input" placeholder="+380">
                    </div>
                    <div class="form-group-two">
                        <textarea id="user-comment" name="user-comment" class="form-textarea"
                            placeholder="Comment"></textarea>
                    </div>
                    <button type="submit" class="btn-contact-us">Send</button>
                </form>
            </div>
            <div class="img-div-contact-us">
                <img src="path-to-your-image.jpg" alt="Contact Us Image" class="img-contact-us">
            </div>
        </div>
    </div>
</section>