<footer class="container">
    <section class="footer">

      <div class="logo">watchcharm</div>

      <ul class="social-media-ul">
        <li class="social-li">
          <a class="social-link" href="https://www.facebook.com/goITclub/">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-li">
          <a class="social-link" href="https://www.instagram.com/goitclub/">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-li">
          <a class="social-link" href="https://www.youtube.com/c/GoIT">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer-phone">
        <a class="phone-number" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </div>
<div class="slogan-container">
      <p class="slogan">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
</div>
      <nav class="footer-menu">
        <ul class="footer-menu-list">
          <li class="footer-menu-item"><a href="#home" class="footer-link">Home</a></li>
          <li class="footer-menu-item"><a href="#about-us" class="footer-link">About Us</a></li>
          <li class="footer-menu-item"><a href="#catalog" class="footer-link">Catalog</a></li>
          <li class="footer-menu-item"><a href="#sale" class="footer-link">Sale</a></li>
          <li class="footer-menu-item"><a href="#reviews" class="footer-link">Reviews</a></li>
          <li class="footer-menu-item"><a href="#contact-us" class="footer-link">Contact Us</a></li>
        </ul>
        <address class="footer-address">
          <p class="title-address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
        </address>
      </nav>

      <div class="decorative-line"></div>
      <div class="copyright-container"> 
        <p class="copyright-notice">© 2023 The Watch Spot. All rights reserved.</p>

        <div class="footer-links">
          <a class="footer-links-title" href="">Terms of Service</a>
          <a class="footer-links-title" href="">Privacy Policy</a>
        </div>
      </div>

    </section>
</footer>