<header class="header" id="home">
  <a class="hed-logo" href="">watchcharm</a>
  <nav class="nav">
    <ul class="hed-links">
      <li class="hed-home-item"><a class="hed-home-link" href="">Home</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#catalog">Catalog</a></li>
      <li><a href="#sale">Sale</a></li>
      <li><a href="#reviews">Reviews</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>
  </nav>
  <ul class="hed-social-links">
    <li class="social-item" id="facebook">
      <a href="https://www.facebook.com/goITclub/" class="link-svg">
        <svg class="svg-header">
          <use href="/img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social-item" id="instagram">
      <a href="https://www.instagram.com/goitclub/" class="link-svg">
        <svg class="svg-header">
          <use href="/img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-item" id="youtube">
      <a href="https://www.youtube.com/c/GoIT" class="link-svg">
        <svg class="svg-header">
          <use href="/img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
  <button class="header-btn" type="button" data-mob-open>
    <div href="" class="burger-a">
      <svg class="svg-burger" width="34" height="34">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </div>
  </button>
</header>
