<header>
  <div class="logo">watchcharm</div>
  <div class="menu-icon">
    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M3 6h18M3 12h18M3"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <nav class="nav-links">
    <a href="#home">Home</a>
    <a href="#about">About Us</a>
    <a href="#catalog">Catalog</a>
    <a href="#sale">Sale</a>
    <a href="#reviews">Reviews</a>
    <a href="#contact">Contact Us</a>
  </nav>
  <div class="social-links">
    <ul>
      <li>
        <a
          class="icon-link"
          href="https://www.facebook.com/goitclub"
          target="_blank"
        >
          <svg width="20" height="20">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="icon-link"
          href="https://instagram.com/goitclub"
          target="_blank"
        >
          <svg width="20" height="20">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="icon-link"
          href="https://www.youtube.com/user/GoIT"
          target="_blank"
        >
          <svg width="20" height="20">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>


