<section class="hero-section">
    <div class="container hero-container">
<div class="container-part">
    
    <div class="hero-content-wrapper">
        <h1 class="hero-title">
            Welcome to our <span class="hero-title-part">collection</span> of premium watches
        </h1>
            <h2 class="hero-descr">
                Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
            </h2>
    </div>
    
               <div class="people-container"> 
                <ul class="people-list">
                  <li class="hero-person">
                    <picture>
                        <source srcset="/img/6reviews/1re, /img/6reviews/1reviewd2x.jpg 2x"
                        media="(min-width: 1280px)"
                        />
                        <source srcset="/img/6reviews/1reviewt.jpg 1x, /img/6reviews/1reviewt2x.jpg 2x"
                        media="(min-width: 768px)"
                        />
                        <source srcset="/img/6reviews/1reviewm.jpg 1x, /img/6reviews/1reviewm2x.jpg 2x"
                        media="(max-width: 767px)"
                        />
                     <img src="/img/6reviews/1reviewm.jpg" alt="blond-woman"
                     />
                    </picture>
                 
                </li> 
                  <li class="hero-person">
                   <picture> 
                    <source srcset="/img/6reviews/2reviewd.jpg 1x, /img/6reviews/2reviewd2x.jpg 2x"
                        media="(min-width: 1280px)"
                        />
                        <source srcset="/img/6reviews/2reviewt.jpg 1x, /img/6reviews/2reviewt2x.jpg 2x"
                        media="(min-width: 768px)"
                        />
                        <source srcset="/img/6reviews/2reviewm.jpg 1x, /img/6reviews/2reviewm2x.jpg 2x"
                        media="(max-width: 767px)"
                        />

                    <img src="/img/6reviews/2reviewm.jpg" alt="man-in-glasses"/>
                </picture>
                </li> 
                  <li class="hero-person">
                <picture>
                    <source srcset="/img/6reviews/3reviewd.jpg 1x, /img/6reviews/3reviewd2x.jpg 2x"
                        media="(min-width: 1280px)"
                        />
                        <source srcset="/img/6reviews/3reviewt.jpg 1x, /img/6reviews/3reviewt2x.jpg 2x"
                        media="(min-width: 768px)"
                        />
                        <source srcset="/img/6reviews/3reviewm.jpg 1x, /img/6reviews/3reviewm2x.jpg 2x"
                        media="(max-width: 767px)"
                        />
                    
    
                        <img src="/img/6reviews/3reviewm.jpg" alt="lady-in-glasses">
</picture>
</li>

                  </ul>
            
                  <div class="button-container">
                    <a href="#footer" class="hero-button">Scroll down</a>
                    
                </div>
        
               </div>
    
</div>
       
<div class="hero-picture-wrapper">
    <picture>
        <source srcset="/img/1welcome/welcomed.jpg 1x, /img/1welcome/welcomed2x.jpg 2x"
        media="(min-width: 1280px)"
        />
        <source srcset="/img/1welcome/welcomet.jpg 1x, /img/1welcome/welcomet2x.jpg 2x"
        media="(min-width: 768px)"
        />
        <source srcset="/img/1welcome/welcomet.jpg 1x, /img/1welcome/welcomem2x.jpg 2x"
        media="(max-width: 767px)"
        />
        
            <img class="hero-image" src="/img/1welcome/welcomem.jpg" alt="clock-premium" 
            
             />
        
    </picture>
</div>
    </div>
</section>