<!-- <div class="container">
  <h2 class="">Reviews</h2>
  <div class="reviews-container">
    <div class="reviews-list">
      <div class="reviews-img"> -->
<img src="../img/6review/1reviewd.png" alt="" height="24" width="24" />
<!-- </div>
      <div class="reviews-name"></div>
    </div>
    <div class="reviews-list">
      <div class="reviews-img">
        <img src="../img/6review/2reviewd.jpg" alt="" />
      </div>
      <div class="reviews-name"></div>
    </div>
    <div class="reviews-list">
      <div class="reviews-img">
        <img src="../img/6review/3reviewd.jpg" alt="" />
      </div>
      <div class="reviews-name"></div>
    </div>
  </div>
</div> -->
