<section class="section-sale section" id="sale">
    <div class="container">
        <h2 class="sale-header">Sale</h2>
        <div class="sale-content-container">
            <div class="sale-all-img-container">
                <ul class="sale-list">
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/5sale/1salet.webp 1x, /img/5sale/1salet2x.webp 2x" media="(min-width: 768px)">
                            <source srcset="/img/5sale/1salem.webp 1x, /img/5sale/1salem2x.webp 2x" media="(max-width: 767px)">
                            <img src="/img/5sale/1salem.webp" alt="Home screen on watch" class="sale-list-img">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/5sale/2salet.webp 1x, /img/5sale/2salet2x.webp 2x" media="(min-width: 768px)">
                            <source srcset="/img/5sale/2salem.webp 1x, /img/5sale/2salem2x.webp 2x" media="(max-width: 767px)">
                            <img src="/img/5sale/2salem.webp" alt="Sleep tracker on watch" class="sale-list-img">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/5sale/3salet.webp 1x, /img/5sale/3salet2x.webp 2x" media="(min-width: 768px)">
                            <source srcset="/img/5sale/3salem.webp 1x, /img/5sale/3salem2x.webp 2x" media="(max-width: 767px)">
                            <img src="/img/5sale/3salem.webp" alt="Side view of watch" class="sale-list-img">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/5sale/4salet.webp 1x, /img/5sale/4salet2x.webp 2x" media="(min-width: 768px)">
                            <source srcset="/img/5sale/4salem.webp 1x, /img/5sale/4salem2x.webp 2x" media="(max-width: 767px)">
                            <img src="/img/5sale/4salem.webp" alt="Back view of watch" class="sale-list-img">
                        </picture>
                    </li>
                </ul>
                <div class="sale-img-container">
                    <picture>
                        <source srcset="/img/5sale/5salet.webp 1x, /img/5sale/5salet2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="/img/5sale/5salem.webp 1x, /img/5sale/5salem2x.webp 2x" media="(max-width: 767px)">
                        <img src="/img/5sale/5salem.webp" alt="Home screen on watch with bronze interface" class="sale-main-img">
                    </picture>
                </div>
            </div>
            <div class="sale-model-container">
                <h3 class="sale-model-heading">MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
                <p class="sale-model-number">Product tag: 706587</p>
                <div class="sale-model-price-container">
                    <p class="sale-model-price">&#8364;1500</p>
                    <p class="sale-model-last-price">&#8364;3000</p>
                </div>
                <p class="sale-model-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
                <ul class="sale-model-list">
                    <li class="sale-model-item"><p class="sale-model-feature">Fused carbon fiber </p></li>
                    <li class="sale-model-item"><p class="sale-model-feature">Grade-5 Titanuim</p></li>
                    <li class="sale-model-item"><p class="sale-model-feature">Athlete</p></li>
                    <li class="sale-model-item"><p class="sale-model-feature">Golfer</p></li>
                    <li class="sale-model-item"><p class="sale-model-feature">Commander</p></li>
                    <li class="sale-model-item"><p class="sale-model-feature">Adventurer</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>