
.about-container { 
display: flex;
  flex-direction: column;
gap: 20px
;
}
.about-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--main);
  padding-top: 40px;
  margin-left: 20px;
  margin-bottom: 28px;
}
.about-list {
}
.about-item {
  margin: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.about-description {

}
.btn-about {
  border-radius: 16px;
  height: 48px;
  width: 160px;
  text-align: center;
  background-color: #3350e9;
  color: #fbfbfb;
  margin-left: 20px;
  margin-top: 40px;
}
.img-about {
width: 335;
height: 446;
}
.about-info {
  border-radius: 30px;

  background-color: #f3f3f3;
  height: 446px;
  width: 335px;
}

                                                           /* Tablet Version */

@media only screen and (min-width: 768px) {
  .about-container { 
flex-direction: column;
gap: 40px
;
}
  .about-info {
    
    border-radius: 50px;
    width: 704px;
    height: 512px;
  }
  .about-title {
    font-weight: 600;
    font-size: 48px;
   margin-bottom: 40px;
    letter-spacing: -2%;
    color: var(--main);
    padding-top: 80px;
    margin-left: 60px;
  }
 
  .about-item {
    margin-left: 60px;
    margin-right: 60px;
  }
  .about-description {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }
  .btn-about {
    margin-left: 60px;
  }
  .img-about {
  width: 704px;
height: 512px;

}
}
                                                                  /* Desktop version */
@media only screen and (min-width: 1280px) {
  .about-info {
  width: 580px;
  height: 532px;
  }
.img-about{
width: 530px;
height: 532px;
}
 .about-container {
flex-direction: row;
}
}