button{
    border: 0;
}
input {
    border: 0;
    background-color: #f3f3f3;
}

textarea {
    border: 0;
    background-color: #f3f3f3;
    resize: none;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}
.form-and-img-container{
    display: flex;
    flex-direction: column;
}
.title-contact-us {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.form-div-contact-us {
    margin-bottom: 20px;
}

.form-contact-us {
    padding: 48px 28px;
    background: #f3f3f3;
    border-radius: 30px;
}

.form-p-contact-us {
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
}

.form-group-name {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px ;
    margin-bottom: 18px;
}

.form-input {
    font-weight: 400;
    line-height: 1.28571;
    color: #0c0c0c;
    width: 100%;
}

.form-group {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px ;
    margin-bottom: 18px;
}

.form-group-two {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px;
    margin-bottom: 28px;
}

.form-textarea {
    font-weight: 400;
    line-height: 1.28571;
    color: #0c0c0c;
    width: 100%;
}

.btn-contact-us {
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    background: #3350e9;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
}
.btn-contact-us{}
.img-div-contact-us {
    border-radius: 30px;
    max-width: 335px;
}
@media only screen and (max-width: 374px) {
    .main-div-contact-us {
        max-width: 280px;
    }
}
@media only screen and (min-width: 768px) {
    .title-contact-us{
        font-size: 48px;
        line-height: 0.91667;
        margin-bottom: 40px;
    }
    .form-div-contact-us{
        margin-bottom: 40px;
    }
    .form-contact-us{
        padding: 50px 122px;
    }
    .form-p-contact-us{
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 32px;
    }
    .form-group-name{
        padding: 16px 18px 16px 18px;
    }
    .form-group{
        padding: 16px 16px 16px 16px;
    }
    .form-group-two{
        padding: 16px 16px 54px 16px;
    }
    .btn-contact-us{
        padding: 17px 63px;
        width: 160px;
        height: 52px;
    }
    .img-contact-us{
        max-width: 704px;
    }
}
@media only screen and (min-width: 1280px) {
    .form-and-img-container {
        flex-direction: row;
        gap: 40px;
    }
    .form-div-contact-us{
        max-width: 580px;
    }
    .title-contact-us{
        font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        margin-bottom: 40px;
    }
    .form-contact-us {
        padding: 50px 60px;
    }
    .form-p-contact-us{
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 32px;
    }
    
    .form-group-name{
        padding: 16px 18px 16px 18px;
        margin-bottom: 18px;
    }
    .form-group{
        padding: 16px;
        margin-bottom: 18px;
    }
    .form-group-two{
        margin-bottom: 32px;
        padding: 16px 16px 54px 16px;
    }

    .img-contact-us{
        max-width: 530px;
        max-height: 580px;
    }
}