* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
}

.logo {
    font-size: 24px;
    font-weight: 500;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    position: relative;
}

.nav a.active::after {
    content: "•";
    color: blue;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
