.hed-social-links {
  display: none;
}
.nav {
  display: none;
}
.header-btn {
  display: block;
  width: 34px;
  height: 34px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hed-links {
  display: flex;
  gap: 40px;
}

.hed-links a {
  color: #0c0c0c;
}

.hed-logo {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  color: #0c0c0c;
}

@media only screen and (min-width: 1280px) {
  .hed-social-links {
    display: flex;
  }
  .nav {
    display: block;
  }
  .header-btn {
    display: none;
  }
}

.hed-home-item {
  position: relative;
}

.hed-home-link::after {
  content: '';
  background-color: #3350e9;
  position: absolute;
  top: 17px;
  left: 15px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.social-item {
  height: 36px;
  width: 36px;
}
